
/**
 * 修改密码列表页面样式
 */
.change_password_page {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #f7f7f7;

    .title_pack {

    }

    .form_pack {

        .am-button {
            background: #ed4832
        }

        .am-button-disabled {
            background: #f88e81;
        }
    }

}









