
/**
 * 忘记密码 设置新密码页面样式
 */
.forgotSetPassword_page {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #f5f5f5;

    .forgotPassword_process {
        display:flex;
        justify-content:center;
        align-items: center;
        height: 40px;
        background: #fff;
        font-size: 16px;
        span {
            color: #BBBBBB
        }
    }

    .form_pack {
        margin-top: 10px;

        .am-list-item {
            height: 45px;

            .am-input-control {
                display:flex;
                justify-content:center;
                align-items: center;
            }

            input {
                font-size: 16px;
            }
        }

        .am-list-body {
            border: none;
            background: #f5f5f5;
        }

        // 请输入手机邮箱样式
        .forgotPassword_userName_div {
            position: relative;
        }

        .am-list-body:after {
            border: none
        }

        .am-button {
            height: 45px;
            line-height: 45px;
            font-size: 16px!important;
            margin-top: 30px !important;
            border: none !important;
        }

        .am-list-item.am-input-item:after {
            border: none
        }

        // .am-button-disabled {
        //     background: #f88e81;
        // }

        .am-input-clear {
            height: 15px;
            margin-right: 10px;
            background-size: 15px 15px;
            width: 15px;
        }
    }

   
}









